<div class="content-container">
  <h2>{{'Services' |translate}}
  </h2>
  <hr/>  
  <button
    class="special-button mb-3"
    [hidden]="!this.canAdd"
    type="button"
    (click)="ShowAdd()"
  >
    {{ "Add" | translate }}
  </button>
  <nb-card class="table-container">
    <table
      class="users-table table-striped"
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="sortData($event)"
      matSortDisableClear
      matSortDirection="asc"
    >
      <!-- lawNumber Column -->
      <ng-container matColumnDef="Service">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Service" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <!-- {{element.planName}} -->

          <span *ngIf="element.serviceName == ''; else data">
            <input
              type="text"
              #serviceFilter
              nbInput
              class="w-30 mw-30"
              matInput
              (keyup)="applyFilter($event)"
              [placeholder]="'Service' |translate" 
                            class="text-center"
            />
          </span>
          <ng-template #data>
<!--             <span>{{ element.serviceName | sliceWords:0:10}}{{"..."}}</span>
 -->         
 <span>{{ element.serviceName }}</span>

</ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="Employee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Employee" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <!-- {{element.planCode}} -->

          <span *ngIf="element.name == ''; else data">
            <input
              type="text"
              #empFilter
              nbInput
              class="w-30 mw-30"
              matInput
              (keyup)="applyFilter($event)"
              [placeholder]="'Employee' |translate" 
              class="text-center"
            />
          </span>
          <ng-template #data>
<!--             <span>{{ element.name | sliceWords:0:10}}{{"..."}}</span>
 -->
            <span>{{ element.name }}</span>

          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="Department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Department" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <!-- {{element.planCode}} -->

          <span *ngIf="element.departmentName == ''; else data">
            <input
              type="text"
              #departmentFilter
              nbInput
              class="w-30 mw-30"
              matInput
              (keyup)="applyFilter($event)"
              [placeholder]="'Department' |translate" 
              class="text-center"
            />
          </span>
          <ng-template #data>
<!--             <span>{{ element.departmentName | sliceWords:0:10}}{{"..."}}</span>
 -->          
 <span>{{ element.departmentName}}</span>

</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="Goals">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Goals" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <!-- {{element.planCode}} -->

          <span *ngIf="element.serviceName == ''; else data">
            <!-- <input type="text"
                    #departmentFilter
                    nbInput
                    class="w-30 mw-30"
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="الادارة"
                    class="text-center"
                  />-->
          </span>
          <ng-template #data>
            <span>{{ element.objectiveNames }}</span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions2">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.sortable == false; else data"> </span>
          <ng-template #data>
            <span>
              <button
                mat-mini-fab
                color="primary"
                [hidden]="!this.canEdit"
                (click)="ShowEdit(element.id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </span>
          </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions1">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.sortable == false; else data"> </span>
          <ng-template #data>
            <span>
              <button
                mat-mini-fab
                color="warn"
                [hidden]="!this.canDelete"
                (click)="delete(element.id, element.serviceName)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </nb-card>
  <mat-paginator
    [dir]="dir"
    [length]="totalRecords"
    [pageIndex]="searchModel.PageNumber - 1"
    [pageSize]="searchModel.PageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="search($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
