<div class="content-container">
  <h2> {{'بيانات الموظفيين' }}
  </h2>
   <hr />
  <button
    class="special-button mb-3"
    type="button"
    (click)="ShowAdd()"
  >
    {{ "إضافة موظف"  }}
  </button>
  <nb-card class="responsive-table-wrapper">
<table class="responsive-table">
  <thead>
    <tr>
      <th>اسم الموظف</th>
      <th>الوظيفة</th>
      <th>رقم الجوال</th>
      <th>البريد الإلكترونى</th>
      <th>تاريخ التعيين</th>
      <th>تاريخ الميلاد</th>


      <th>التعديل</th>

      <th>الحذف</th>
    </tr>
    
  </thead>
  <tbody>
    <tr *ngFor="let row of this.tableData1">
      <td>{{ row.name }}</td>
      <td>{{ row.jobname }}</td>
      <td>{{ row.mobil }}</td>
      <td>{{ row.email }}</td>
       <td>{{ row.birthDate }}</td>
      <td>{{ row.hireDate }}</td>

        <td class="actions">
        <button mat-icon-button color="primary" (click)="edit(row)">
          <mat-icon>edit</mat-icon>
        </button>
</td>
        <td class="actions">

        <button mat-icon-button color="warn" (click)="delete1(row)">
          <mat-icon>delete</mat-icon>
        </button>
        </td>
    </tr>
  </tbody>
</table>
    
  </nb-card>
<!--   <mat-paginator
    [dir]="dir"
    [length]="totalRecords"
    [pageIndex]="searchModel.PageNumber - 1"
    [pageSize]="searchModel.PageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="search($event)"
    showFirstLastButtons
  ></mat-paginator> -->
</div>
