<div class="content-container">
  <h2> {{'قائمة بيانات مراحل المشاريع '}}
  </h2>
   <hr />
  <button
    class="special-button mb-3"
    type="button"
    (click)="ShowAdd()"
  >
    {{ "إضافة بيانات مرحلة مشروع"  }}
  </button>
  <nb-card>
<table class="responsive-table">
  <thead>
    <tr>
      <th>نوع المشروع</th>
      <th>إسم المشروع</th>

      <th>كود المشروع</th>
     <th>المرحلة</th>

     <th> تاريخ البدء</th>
      <th>تاريخ الانتهاء</th>
        <th>الوزن</th>

        <th>حالة المرحلة</th>
      <th>التعديل</th>

      <th>الحذف</th>
    </tr>
    
  </thead>
  <tbody>
    <tr *ngFor="let row of this.tableData1">
      <td>{{ row.type }}</td>
            <td>{{ row.projectname }}</td>

            <td>{{ row.projectcode }}</td>

          <td>{{ row.milestone }}</td>

          <td>{{ row.startdate }}</td>
          <td>{{ row.enddate }}</td>
          
          <td>{{ row.weight }}</td>
          <td>{{ row.status }}</td>
        <td class="actions">
        <button mat-icon-button color="primary" (click)="edit(row)">
          <mat-icon>edit</mat-icon>
        </button>
</td>
        <td class="actions">

        <button mat-icon-button color="warn" (click)="delete1(row)">
          <mat-icon>delete</mat-icon>
        </button>
        </td>
    </tr>
  </tbody>
</table>
    
  </nb-card>
<!--   <mat-paginator
    [dir]="dir"
    [length]="totalRecords"
    [pageIndex]="searchModel.PageNumber - 1"
    [pageSize]="searchModel.PageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="search($event)"
    showFirstLastButtons
  ></mat-paginator> -->
</div>
