<nb-card size="medium">
  <nb-card-header>
    <div class="container">
      <div class="row d-flex align-items-center justify-content-between">
        <h5>{{ "integratedSurveySystem" | translate }}</h5>
        <div class="cursor-pointer" (click)="closeCharts()">
          <nb-icon class="close-icon" status="danger" icon="close"> </nb-icon>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-card class="min-w-50vw" size="small">
      <!-- *ngFor="let question of chartQuestions" -->

      <nb-card-header>
        <h6>
          {{ SurveyTitle }}
        </h6>
      </nb-card-header>
      <nb-card-body class="d-flex align-items-center justify-content-center">
        <!-- <app-pie-chart [chartID]="question"></app-pie-chart> -->
        <img width="220px" height="180px" src="{{ QrCode }}" alt="qr-code" />
      </nb-card-body>
    </nb-card>
  </nb-card-body>
  <button
    class="special-button danger-button mb-3 mx-auto"
    type="button"
    (click)="closeCharts()"
  >
    {{ "Close" | translate }}
  </button>
</nb-card>
