.rounding-card {
    border-radius: 1rem;
  }
  
  p {
    padding: 0 0.5rem 0.5rem;
    font-size: large;
  }
  
  .mw-100 {
    margin-top: 5px;
  }
  
  .mt-2 {
    gap: 0.5rem;
  }
  
  .form-check-label {
    padding-right: 1rem;
  }
  
  .ml-1 {
    margin-left: 1rem !important;
  }
  