<div class="content-container mt-5">
  <h5>{{'Add' |translate}} {{'Survey' |translate}}
  </h5>
  <hr/>
  <form [formGroup]="SurveyForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-6">
        <!--categoryName -->
        <div class="form-group">
          <label for="SurveyTitle" class="label">
            <h6>
              {{ "SurveyTitle" | translate }}
            </h6>
          </label>
          <input
            type="text"
            formControlName="surveyName"
            nbInput
            shape="round"
            fullWidth
            id="surveyName"
          />
          <mat-error
            *ngIf="fc.surveyName.touched && fc.surveyName.hasError('required')"
          >
            {{ "survey Title is Required" | translate }}
          </mat-error>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group mt-2">
          <label for="SurveyDesc" class="label">
            <h6>
              {{ "SurveyDesc" | translate }}
            </h6>
          </label>
          <textarea
            type="text"
            formControlName="surveyDesc"
            nbInput
            shape="round"
            fullWidth
            id="surveyDesc"
          ></textarea>
        </div>
      </div>
      <div class="col-sm-6">
        <!--categoryName -->
        <div class="form-group">
          <label for="FromDate" class="label">
            <h6>
              {{ "FromDate" | translate }}
            </h6>
          </label>
          <input
            type="date"
            formControlName="fromDate"
            nbInput
            shape="round"
            fullWidth
            id="fromDate"
          />
          <mat-error
            *ngIf="fc.fromDate.touched && fc.fromDate.hasError('required')"
          >
            {{ "Start Date is Required" | translate }}
          </mat-error>
        </div>
      </div>
      <div class="col-sm-6">
        <!--categoryName -->
        <div class="form-group mt-2">
          <label for="ToDate" class="label">
            <h6>
              {{ "ToDate" | translate }}
            </h6>
          </label>
          <input
            type="date"
            formControlName="toDate"
            nbInput
            shape="round"
            fullWidth
            id="toDate"
          />
          <mat-error
            *ngIf="fc.toDate.touched && fc.toDate.hasError('required')"
          >
            {{ "End Date is Required" | translate }}
          </mat-error>
        </div>
      </div>
      <!--  <div class="col-sm-6">
                    <div class="form-group">
                        <label for="NoOfParts" class="label">{{'NoOfParts' |translate}}</label>
                        <input  type="text"
                            formControlName="noOfParts" nbInput shape="round" fullWidth id="noOfParts">

                    </div>
                </div> -->

      <!--
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Services" class="label">
                            <h6>
                                {{'Services' |translate}}
                            </h6>
                            </label>

                        <nb-select
                        shape="round" fullWidth multiple
                         (selectedChange)="selectChangeHandlerServices($event)">
                        <nb-option value="">{{'No data selected' |translate}}</nb-option>
                        <nb-option *ngFor="let s of Service" [value]="s.id">
                            {{s.serviceName}}</nb-option>
                    </nb-select >

                    </div>
                </div>  -->
      <div class="col-sm-6 mt-2 mb-2">
        <div class="form-group">
          <label for="noOfQst" class="label">
            <h6>
              {{ "NoOfQst" | translate }}
              {{ this.index }}
              <!-- {{this.ownersFilteredLst}} -->
            </h6>
          </label>
        </div>
      </div>

      <!-- Question are hidden for now -->

      <!-- <div class="col-sm-6">
        <div class="form-group">
          <label for="Questions" class="label">
            <h6>
              {{ "Questions" | translate }}
              <br />
              {{ this.QstsName.join(", ") }} -->
      <!-- {{this.OwnersID.join(', ')}} -->
      <!--                             {{this.OwnersName.join("\n")}}
 -->
      <!-- {{this.ownersFilteredLst}} -->
      <!-- </h6>
          </label>
        </div>
      </div> -->

      <!-- Question are hidden for now -->

      <!-- <div class="col-sm-6">
                    <div class="form-group">
                        <label for="noOfOwners" class="label">
                        <h6>
                            {{'NoOfOwners' |translate}}


                        </h6>
                        </label>

                        <a [href]="showOwners()"></a>
                    </div>


                </div>  -->
      <!-- <a [href]="ShowFile1(element.everId)"
                download="fileName.pdf" >
                <mat-icon>download</mat-icon> -->
      <!--Event Image -->
    </div>
    <nb-card class="table-container">
      <table
        class="users-table table-striped"
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="sortData($event)"
        matSortDisableClear
        matSortDirection="asc"
      >
        <ng-container matColumnDef="Service">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Service" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            <!-- {{element.name}}   -->

            <span *ngIf="element.serviceNames == null; else data">
              <input
                type="text"
                #ServiceFilter
                nbInput
                class="w-30 mw-30"
                matInput
                (keyup)="applyFilter($event)"
                [placeholder]="'Service' |translate" 
                class="text-center"
              />
            </span>
            <ng-template #data>
              <span>{{ element.serviceNames }}</span>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="Question">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Question" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            <!-- {{element.name}}   -->

            <span *ngIf="element.questText == ''; else data">
              <input
                type="text"
                #QstTitleFilter
                nbInput
                class="w-30 mw-30"
                matInput
                (keyup)="applyFilter($event)"
                [placeholder]="'Question' |translate" 
                class="text-center"
              />
            </span>
            <ng-template #data>
              <span>{{ element.questText }}</span>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="QuestDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "QuestDesc" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            <!-- {{element.hafezaId}}    -->
            <span *ngIf="element.questText == ''; else data"> </span>
            <ng-template #data>
              <span>{{ element.questDesc }}</span>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="AnswerType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "AnswerType" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            <!-- {{element.nationalId}}    -->
            <span *ngIf="element.questText == '0'; else data"> </span>
            <ng-template #data>
              <span>{{ element.answerType }}</span>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="ischecked">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <!-- {{element.name}}
                        [(ngModel)]="this.checkedrows"
                         [disables]="this.disableRow"
                        [(ngModel)]="this.checkedrow" value="this.checkedrow" -->

            <span *ngIf="element.name != ''">
              <input
                type="checkbox"
                [checked]="returnValueByelementid(element.id)"
                (change)="
                  check(
                    $event,
                    element.id,
                    element.questText,
                    element.questDesc,
                    element.answerType
                  )
                "
              />
            </span>

            <!--
                      <ng-template #data>
                        <input type="checkbox"   [(ngModel)]="this.checkedrow"
                        (change)="check($event,element.id,element.hafezaId,element.nationalId,element.name)"/>

                                          </ng-template>  -->
          </td>
        </ng-container>

        <!-- <th mat-header-cell *matHeaderCellDef >  </th>
                <td >
                  <input type="checkbok"/>

                </td>
          -->

        <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">

                        <button mat-mini-fab color="primary" (click)="addToGrant(element.id,element.name
                      ,element.nationalId,element.hafezaId)">
                        <mat-icon>add</mat-icon>
                    </button>


                </td>
            </ng-container>
        -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </nb-card>
    <mat-paginator
      [dir]="dir"
      [length]="totalRecords"
      [pageIndex]="searchModel.PageNumber - 1"
      [pageSize]="searchModel.PageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="search($event)"
      showFirstLastButtons
    ></mat-paginator>

    <div class="row mt-2">
      <div class="col-md-2">
        <button
          class="special-button m-2 mt-4 w-100"
          [disabled]="SurveyForm.invalid || isSubmitted"
          type="submit"
        >
          {{ "Save" | translate }}
        </button>
      </div>
    </div>

    <!-- <div class="row mt-3">

                <button
                class="btn btn-success"
                nbButton
                status="primary"
                type="button"
                (click)="ShowAdd()"
              >

        {{'Add' |translate}} {{'RoyalGrants' |translate}}
        </button>


            </div> -->
  </form>
</div>
