<div class="content-container mt-0.5">
  <h5>{{'إضافة عميل' }}
  </h5>
  <hr/>
  <form [formGroup]="StrategicGoalsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-6">
        <!--Law number -->
        <div class="form-group">
          <label for="CustName" class="label">
            <h6>
              {{ "إسم العميل"  }}
            </h6>
          </label>
          <input
            type="text"
           
            formControlName="strategicGoal"
            nbInput
            shape="round"
            fullWidth
            id="strategicGoal"
          />
          
        </div>
           <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "نوع العميل"}}
            </h6>
          </label>
          <nb-select
            shape="round"
            fullWidth
            formControlName="custId"
          
          
          >
            <nb-option *ngFor="let e of this.options" [value]="e.id">
              {{ e.label }}</nb-option
            >
          </nb-select>

        </div>
          <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "رقم الجوال"  }}
            </h6>
          </label>
          <input
            type="text"
          
            formControlName="Mobil"
            nbInput
            shape="round"
            fullWidth
            id="Mobil"
          />
         
        </div>
          <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "البريد الإلكترونى"  }}
            </h6>
          </label>
          <input
            type="text"
          
            formControlName="Email"
            nbInput
            shape="round"
            fullWidth
            id="Email"
          />
         
        </div>
        
         <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "العنوان"}}
            </h6>
          </label>
        <input
            type="text"
          
            formControlName="Address"
            nbInput
            shape="round"
            fullWidth
            id="Address"
          />

        </div>
       
           <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "جهة الاتصال الأولى" }}
            </h6>
          </label>
          <input
            type="text"
        
            formControlName="ContactPersonNm1"
            nbInput
            shape="round"
            fullWidth
            id="ContactPersonNm1"
          />
       
        </div>
        
        
      </div>

      <div class="col-sm-6">
          <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "رقم  الجوال" }}
            </h6>
          </label>
          <input
            type="text"
        
            formControlName="ContactPersonMobil1"
            nbInput
            shape="round"
            fullWidth
            id="ContactPersonMobil1"
          />
       
        </div>
          <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "البريد الإلكترونى" }}
            </h6>
          </label>
          <input
            type="text"
        
            formControlName="ContactPersonEmail1"
            nbInput
            shape="round"
            fullWidth
            id="ContactPersonEmail1"
          />
       
        </div>
        <!--Message arabic -->
          <div class="form-group">
               <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "جهة الاتصال الثانية" }}
            </h6>
          </label>
          <input
            type="text"
        
            formControlName="ContactPersonNm2"
            nbInput
            shape="round"
            fullWidth
            id="ContactPersonNm2"
          />
       
        </div>
          <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "رقم الجوال" }}
            </h6>
          </label>
          <input
            type="text"
        
            formControlName="ContactPersonMobil2"
            nbInput
            shape="round"
            fullWidth
            id="ContactPersonMobil2"
          />
       
        </div>
          <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "البريد الإلكترونى" }}
            </h6>
          </label>
          <input
            type="text"
        
            formControlName="ContactPersonEmail2"
            nbInput
            shape="round"
            fullWidth
            id="ContactPersonEmail2"
          />
       
        </div>
          <!-- <mat-error
            *ngIf="fc.fromDate.touched && fc.fromDate.hasError('required')"
          >
            {{ "Start Date is Required" | translate }}
          </mat-error> -->
        </div>
      

      
        <div class="form-group">
          <label for="GoalDesc" class="label">
            <h6>
              {{ "ملاحظات"  }}
            </h6>
          </label>
          <textarea
            type="text"
            formControlName="goalDesc"
            nbInput
            shape="round"
            fullWidth
            id="goalDesc"
          >
          </textarea>
        </div>
      </div>
    </div>
    <div class="row mt-2" >
      <div class="col-md-2">
        <button
          class="special-button m-2 mt-4 w-100"
   type="submit"
       >
          {{ "حفظ"  }}
        </button>
      </div>
       <div class="col-md-2">
        <button
          class="special-button m-2 mt-4 w-100"
   type="button"    (click)="Close()"

       >
          {{ "إلغاء"}}
        </button>
      </div>
    </div>
  </form>
</div>
