<!-- <div class="modla">
<div class="modal-header" appendTo="body">
    <h4 class="modal-title" appendTo="body">{{ title }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"appendTo="body">
      {{ message }}
    </div>
    <div class="modal-footer" appendTo="body">
       <button type="button" class="btn btn-danger" id="btn1" (click)="decline()">{{ btnCancelText }}</button>
       <button type="button" class="btn btn-primary" id="btn2" (click)="accept()">{{ btnOkText }}</button>
    </div>
  </div> -->

   <!--  <nb-card-body dir="auto" class="p-3">
      {{body}}
    </nb-card-body> -->
    <!-- <nb-card-footer class="d-flex justify-content-between"> -->
      <button nbButton   (click)="confirm()">ds</button>
      <button nbButton (click)="dismiss()">dd</button>
    <!-- </nb-card-footer> -->
  
