<div class="content-container mt-5">
  <h5>{{'Edit' |translate}} {{'StrategicGoals' |translate}}
  </h5>
  <hr/>
  <form [formGroup]="StrategicGoalsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-6">
        <!--Law number -->
        <div class="form-group">
          <label for="StrategicGoal" class="label">
            <h6>
              {{ "StrategicGoal" | translate }}
            </h6>
          </label>
          <input
            type="text"
            [status]="
              fc.strategicGoal.touched && fc.strategicGoal.errors
                ? 'danger'
                : 'basic'
            "
            formControlName="strategicGoal"
            nbInput
            shape="round"
            fullWidth
            id="strategicGoal"
          />
          <mat-error
            *ngIf="
              fc.strategicGoal.touched && fc.strategicGoal.hasError('required')
            "
          >
            {{ "Strategic Goal is Required" | translate }}
          </mat-error>
        </div>
      </div>

      <div class="col-sm-6">
        <!--Message arabic -->
        <div class="form-group">
          <label for="GoalDesc" class="label">
            <h6>
              {{ "GoalDesc" | translate }}
            </h6>
          </label>
          <textarea
            type="text"
            formControlName="goalDesc"
            nbInput
            shape="round"
            fullWidth
            id="goalDesc"
          >
          </textarea>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-2">
        <button
          class="special-button m-2 mt-4 w-100"
          [disabled]="StrategicGoalsForm.invalid || isSubmitted"
          type="submit"
        >
          {{ "Save" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
