.form-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  #textarea,
  .container {
    grid-column: span 2;
  }
  .container {
    .row {
      .col-md-3 {
        button {
          width: 100%;
          font-size: large;
        }
      }
    }
  }
}
