.table-container {
    border-radius: 1rem;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  
  table {
    width: 20rem;
  }
  
  .search-container {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
  }
  
  .col-md-4,
  .col-md-6,
  .col-md-12 {
    padding: 5px !important;
  }
  
  .users-table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
  }
  
  tr {
    height: 3.2rem;
  }
  
  th,
  td {
    text-align: center !important;
    padding: 10px;
  }
  
  th {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.3rem;
    }
  }
  
  ::ng-deep .mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    letter-spacing: normal;
    outline: 0;
    justify-content: center;
  }
  