:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: black;
  margin: 0;
  background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(246,247,252,1) 100%);
}

.surv-container h1 {
  font-size: 3rem;
  line-height: 1;
  /* margin-bottom: 4rem; */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.surv-container button {
  border: none;
}

.surv-container {
  width: 100%;
  margin: 6rem auto 6rem auto;
  box-shadow: 0 0.2rem 1.3rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #fff;
}

@media (min-width: 576px) {
  .surv-container {
    max-width: 540px;
  }
}

@media (min-width: 976px) {
  .surv-container {
    max-width: 920px;
  }
}

.header-surv {
  padding: 4.5rem 4.5rem 1rem;
  /* margin-bottom: 1rem; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/*Header*/
.colHeaderSurv {
  /* float: left; */
  width: 54%;
  padding-top: 0;
  margin-right: 6%;
}
.survLogo{
  width: 100px;
  height: auto;
  margin: 15px;
}
.survLogo img{
  width: 100%;
}
.colImgSurv {
  /* float: left; */
  width: 40%;
  margin-top: 40px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1000px) {
  .colHeaderSurv,
  .colImgSurv {
    width: 100%;
    margin: 0;
  }
  #image-surv img {
    margin: auto;
  }
}

/*Form*/

form {
  padding: 2.5rem;
  border-radius: 0.5rem;
}

.survey-group {
  margin: 1rem auto 2rem auto;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-top: 1px solid #d6d6d6;
}

.form-control {
  display: block;
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #a6d8e2;
  outline: 0;
  box-shadow: 0 0 1rem 0.2rem rgba(205, 240, 247, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 1rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 1rem;
  resize: vertical;
}

.submit-button {
  display: inline-block;
  width: 10rem;
  padding: 1rem;
  background: #1da957;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.submit-button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes background-color {
    100% {
      background-color: #c21b15;
    }
}


/* Input Rating star */
.rating {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.rating > input[type=radio] {
  position: absolute;
  opacity: 0;
  z-index: -999;
}
.rating_star {
  display: flex;
  justify-content: left;
  gap: 1em;
}
.rating__star {
  font-size: 3.2em;
  color: #d3d3d3;
  transition: all 0.1s ease-in-out;
}
.rating__star:active {
  color: #4a4a4a !important;
  text-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}
@media (hover: hover) {
  .rating__star:hover {
    transform: scale(1.3);
  }
}
.rating > input[type=radio]:nth-child(1):checked ~ .rating_star > .rating__star:nth-child(-n+1) {
  color: #ffa500;
}
.rating > input[type=radio]:nth-child(1):focus-visible ~ .rating_star > .rating__star:nth-child(1) {
  outline: solid 1px black;
}
.rating > input[type=radio]:nth-child(2):checked ~ .rating_star > .rating__star:nth-child(-n+2) {
  color: orange;
}
.rating > input[type=radio]:nth-child(2):focus-visible ~ .rating_star > .rating__star:nth-child(2) {
  outline: solid 1px black;
}
.rating > input[type=radio]:nth-child(3):checked ~ .rating_star > .rating__star:nth-child(-n+3) {
  color: orange;
}
.rating > input[type=radio]:nth-child(3):focus-visible ~ .rating_star > .rating__star:nth-child(3) {
  outline: solid 1px black;
}
.rating > input[type=radio]:nth-child(4):checked ~ .rating_star > .rating__star:nth-child(-n+4) {
  color: orange;
}
.rating > input[type=radio]:nth-child(4):focus-visible ~ .rating_star > .rating__star:nth-child(4) {
  outline: solid 1px black;
}
.rating > input[type=radio]:nth-child(5):checked ~ .rating_star > .rating__star:nth-child(-n+5) {
  color: orange;
}
.rating > input[type=radio]:nth-child(5):focus-visible ~ .rating_star > .rating__star:nth-child(5) {
  outline: solid 1px black;
}

/* End Input */

/* Input Rating smileys */
#smileys input[type=radio] {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: border 0.2s ease;
  filter: grayscale(100%);
  margin: 0 5px;
  transition: all 0.2s ease;
}
#smileys input[type=radio]:hover, #smileys input[type=radio]:checked {
  filter: grayscale(0);
}
#smileys input[type=radio]:focus {
  outline: 0;
}
#smileys input[type=radio].happy {
  background: url("./happy_ampvnc.svg") center;
  background-size: cover;
}
#smileys input[type=radio].neutral {
  background: url("./neutral_t3q8hz.svg") center;
  background-size: cover;
}
#smileys input[type=radio].sad {
  background: url("./sad_bj1tuj.svg") center;
  background-size: cover;
}

/* End Input */

/* Input Rating butRadio */
.butRadio {
  position: relative;
  text-align: left;
}
@media (max-width: 40em) {
  .butRadio {
    margin-top: -1.5em;
  }
}

.butRadio .button-label {
  display: inline-block;
  padding: .6em 1.5em;
  margin: 0.1em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #e9e9e9;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.butRadio .button-label h1 {
  font-size: .8em;
  padding: 0;
  margin: 0;
}
.butRadio .button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.32);
}
.butRadio .button-label:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 40em) {
  .butRadio .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

.yes-button:checked + .button-label {
  background: #2ECC71;
  color: #efefef;
}
.yes-button:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

.no-button:checked + .button-label {
  background: #D91E18;
  color: #efefef;
}
.no-button:checked + .button-label:hover {
  background: #c21b15;
  color: #e2e2e2;
}

.maybe-button:checked + .button-label {
  background: #4183D7;
  color: #efefef;
}
.maybe-button:checked + .button-label:hover {
  background: #2c75d2;
  color: #e2e2e2;
}

.hidden {
  display: none;
}
/* End Input */
