<nb-card>
    <nb-card-header><h5>{{'Add' |translate}} {{'بيانات مرحلة مشروع'}}</h5></nb-card-header>
    <nb-card-body>
        <form  [formGroup]="districtForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DistrictName" class="label">
                            <h6>    {{'تصنيف المشروع'}}</h6>
                        </label>
                           <nb-select
            shape="round"
            fullWidth
            formControlName="name"
          
          
          >
            <nb-option *ngFor="let e of this.options" [value]="e.id">
              {{ e.label }}</nb-option
            >
          </nb-select>
                    </div>
          
                    <div class="form-group">
                        <label for="DistrictName" class="label">
                            <h6> نوع المشروع</h6>
                        </label>
                           <nb-select
            shape="round"
            fullWidth
            formControlName="state"
          
          
          >
            <nb-option *ngFor="let e of this.options1" [value]="e.id">
              {{ e.label }}</nb-option
            >
          </nb-select>
                    </div>
            
                    <div class="form-group">
                        <label for="DistrictName" class="label">
                            <h6>  المشروع</h6>
                        </label>
                           <nb-select
            shape="round"
            fullWidth
            formControlName="project"
          
          
          >
            <nb-option *ngFor="let e of this.options2" [value]="e.id">
              {{ e.label }}</nb-option
            >
          </nb-select>
                    </div>
        
             
                    <div class="form-group">
                        <label for="DistrictName" class="label">
                            <h6>المراحل الرئسية</h6>
                        </label>
                           <nb-select
            shape="round"
            fullWidth
            formControlName="milestone"
          
          
          >
            <nb-option *ngFor="let e of this.options3" [value]="e.id">
              {{ e.label }}</nb-option
            >
          </nb-select>
                    </div>
                
                    <div class="form-group">
                        <label for="notes" class="label">
                            <h6>    {{'المرحلة' }}</h6>
                        </label>
                        <input   type="text"
                            formControlName="milestoneNm" nbInput shape="round" fullWidth id="milestoneNm"/>
                    
                    </div>
                </div> 
               
         
                      <div class="col-sm-6"> 
                    <div class="form-group">
                        <label for="notes" class="label">
                            <h6>    {{'تاريخ البدء' }}</h6>
                        </label>
                        <input   type="date"
                            formControlName="start" nbInput shape="round" fullWidth id="start"/>
                    
                    </div>
             
                    <div class="form-group">
                        <label for="notes" class="label">
                            <h6>    {{'تاريخ الإنتهاء' }}</h6>
                        </label>
                        <input   type="date"
                            formControlName="end" nbInput shape="round" fullWidth id="end"/>
                    
                    </div>
             
                    <div class="form-group">
                        <label for="notes" class="label">
                            <h6>    {{'الوزن (اهمية المرحلة بالنسبة للمشروع)' }}</h6>
                        </label>
                        <input   type="number"
                            formControlName="milestone" nbInput shape="round" fullWidth id="milestone"/>
                    
                  
                </div> 
                    <div class="form-group">
                        <label for="notes" class="label">
                            <h6>    {{'وصف المرحلة' }}</h6>
                        </label>
                        <textarea   type="text"
                            formControlName="notes" nbInput shape="round" fullWidth id="notes"></textarea>
                    
                    </div>
                </div>   
                <!--Event Image -->
            </div>
            <!-- <div class="mt-2 d-flex align-items-center justify-content-center mt-3"> -->
                <div class="row mt-2">
     <div class="col-md-2">
        <button
          class="special-button m-2 mt-4 w-100"
   type="submit"
       >
          {{ "حفظ"  }}
        </button>
      </div>
       <div class="col-md-2">
        <button
          class="special-button m-2 mt-4 w-100"
   type="button"    (click)="Close()"

       >
          {{ "إلغاء"}}
        </button>
      </div>
            <!--     <button class="btn" [disabled]="districtForm.invalid ||isSubmitted"   type="submit"  status="primary"
                 nbButton>{{'Save' |translate}}</button> -->
       
            </div>
        </form>
    </nb-card-body>
</nb-card>




